# Django 설정
DEBUG=True
SECRET_KEY=your-django-secret-key-template

# 구글 소셜 로그인
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_secret_here

# 네이버 소셜 로그인 (Naver Developers에서 발급)
NAVER_CLIENT_ID=your_naver_client_id_here
NAVER_CLIENT_SECRET=your_naver_secret_here