<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
</head>
<body>
    <h3>게임 목록</h3>
    <h5>현재 플레이어:{{user_name}}</h5>
    <a href="{%url 'games:startPage'%}">Minsu</a>
    <a href="{%url 'games:startPage'%}">chanwoong</a>
    {%for game in Games%}
        {%if game.Attacker.id == user_id or game.Defender.id == user_id%}
        <div class="game_box">
            <p>==================</p>
                <span>{{forloop.counter}}. </span>
                <span>{{game.Attacker}} vs {{game.Defender}}</span>
                {%if game.isGameOngoing%}
                    {%if game.Attacker.id == user_id%}
                        <span>/게임 진행 중</span>
                        <form method="POST">
                            {%csrf_token%}
                            <button type="submit" name="btn" value={{game.id}}>게임 취소</button>
                        </form>
                    {%else%}
                        <span>/반격하기</span>
                        <a href='#'>반격하기</a>
                    {%endif%}
                {%else%}
                    {%if game.Winner.id == user_id%}
                        <span>👑승리👑</span>
                    {%else%}
                        <span>😵패배😵</span>
                    {%endif%}
                {%endif%}
            <p>==================</p>
        </div>
        {%endif%}
    {%endfor%}
</body>
</html>