{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Card Game</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/game-start.css' %}">
    <link rel="stylesheet" href="{% static 'css/ranking.css' %}">
    {%block header%}{%endblock%}
    
    {% block header%} {% endblock %}
</head>
<body>

<header class="header">
    <div class="header-inner">
        <div class="logo">
            <a href="#">Card Game</a>
        </div>

        <nav class="nav">
            {% if user.is_authenticated %}
                <a href="#" class="btn">게임하기</a>
                <a href="#" class="btn">게임목록</a>
                <a href="#" class="btn">랭킹보기</a>
                <a href="#" class="btn">로그아웃</a>
            {% else %}
                <a href="{% url 'accounts:login' %}" class="btn">로그인</a>
                <a href="{% url 'accounts:signup' %}" class="btn">회원가입</a>
            {% endif %}
        </nav>
    </div>
    
</header>

<main>
    {% block content %}
    {% endblock %}
</main>

</body>
</html>


